#ignore anything in .antlr folder
.antlr
*.interp
*.tokens
*.class
LittleListener.java
LittleBaseListener.java
*Lexer.*
*Parser.*

step2/ANTLR/grep

step3/inputs/*
step3/outputs/*
step4/inputs/*
step4/outputs/*